
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


.container2 {
	margin: 0% 32%;
}

header {
    padding-bottom: 36px;
    padding-top: 100px;
}

header nav {
	
	display: flex;
	flex-direction: row;
	color: gray;
	margin-top: 35px;
	vertical-align: top;

}

header nav a {
	display: flex;
	flex-direction: row;
	margin-right: 25px;
	font-size: 13px;
	text-align: center;
}



header .logo {
	display:flex;
    float:right;
	position: relative;
	bottom: 28px;
}

#services {
	margin-top: 30px;
}

#services .text h1 {
	font-size: 25px;
}


.services-header-img {
	width: 100%;
	height: auto;
}

#content2 {
	border-top: 1px solid black;
	margin-top: 386px;
	padding-top: 0px;
	position: relative;
	top: -340px;
	display:flex;
flex-wrap: wrap;
  margin-bottom:-300px;
}

#content2 .box {
    width: 100%;
    

}

#content2 > div {
	flex: 0 50%;
	/*demo*/
	border: gray solid;
	box-sizing:border-box;
    margin: 1em 0;
    padding: 1em;
    background: #D8D4D3;
  
}


button {
    border: 1px solid black;
  padding: 0.2em 2em;
  text-decoration: none;
  margin: 1em;
  border-radius: 10px;
}

#about {
    border-top: 1px solid black;
    display: flex;
}

.about {
    margin-top: 30px;
    padding:0 2em;

}
ul {
    padding: 1em;
}

li {
    margin: 0 0 10px 0;
    list-style-type: square;
}
.services-info-img {
    display: flex;
	float: right;
	margin-top: 30px;
	width:48%;
	vertical-align: top;
	position: relative;

  }

  footer {
	margin: 52px 0;
	text-align: center;
	font-size: 15px;
}



  